html
	head
		title My first jade
		link(href="/css/main.css" rel="stylesheet")
		link(href="/favicon.ico",rel="shortcut icon",type="image/x-icon")
	body
		p Hello World
		-for (var x=0;x<3;x++)
			li item